/*! crean default theme | MIT License | https://keybase.io/andrejcremoznik */

// Public asset uri (use with asset() function)
$public_assets_uri: '/app/themes/crean/assets/default/';

// Font families
$default_font_family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$alternative_font_family: "Times New Roman", serif;

// Font sizes
$default_font_size: 16;    // absolute value, no unit
$default_line_height: 1.5; // relative value, no unit

$font_s: 14;
$font_m: $default_font_size;
$font_l: 20;

$font_h1: 32;
$font_h2: 24;
$font_h3: 20;

// Layout
$basic_offset: 15px;

// Basic colors
$default_tx_color: #333;
$default_bg_color: #f4f4f4;

$brand_bg_1: #304050;
$brand_tx_1: #eee;
$brand_tx_2: #965b44;

$content_link_color: $brand_tx_2;
$content_link_hover_color: lighten($content_link_color, 30%);


// Import theme core
@import "app/app";
