<header class="header">
  <a class="header__logo cf" href="/">
    <svg class="header__logo-img svg" role="img">
      <title>{{ site.name }}</title>
      <use xlink:href="#sig" />
    </svg>
  </a>
</header>
