$nav_bg_color: $brand_bg_1 !default;
$nav_btn_tx: #fff !default;
$nav_btn_bg: $brand_tx_2 !default;

.nav { background: $nav_bg_color; }

.nav__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  flex: 0 1 auto;
  margin-right: $basic_offset;
}

.nav__link {
  display: block;
  padding: .5em 1em;
  color: $nav_btn_tx;
  background: $nav_btn_bg;
  text-decoration: none;
  text-shadow: 0 1px 1px darken($nav_btn_bg, 20%);
  box-shadow: 0 2px 2px darken($nav_bg_color, 15%);
  transition: all .2s ease;
  &:focus,
  &:hover {
    outline: 0;
    color: $nav_btn_tx;
    transform: translateY(-2px);
    box-shadow: 0 4px 2px darken($nav_bg_color, 15%);
  }
}

.nav__item_active > .nav__link { font-weight: bold; }

@media (min-width: 720px) {
  .nav { text-align: right; }
  .nav__items {
    display: block;
    height: auto;
    padding: 0 $basic_offset;
  }
  .nav__item { margin: 0 0 $basic_offset; }
  .nav__link { display: inline-block; }
}
