// Typography
html {
  font-family: $default_font_family;
  font-size: #{$default_font_size}px;
  line-height: $default_line_height;
}

body {
  color: $default_tx_color;
  background: $default_bg_color;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $content_link_color;
  &:hover { color: $content_link_hover_color; }
}

img { vertical-align: middle; }

p, ul, ol, blockquote {
  margin: 0 0 #{$default_line_height}em;
  &:last-child { margin-bottom: 0; }
}
ul, ol, blockquote { padding-left: 2em; }

blockquote {
  color: $light_tx_color;
  font-style: italic;
}

h1, h2, h3 {
  margin: 1.5em 0;
  font-weight: bold;
}
h1 { font-size: rem($font_h1); }
h2 { font-size: rem($font_h2); }
h3 { font-size: rem($font_h3); }

code {
  padding: 2px 4px;
  border-radius: 4px;
  background: darken($default_bg_color, 8%);
  font-size: .75em;
  text-shadow: 0 1px 1px $default_bg_color;
}

%post_content {
  font-size: rem($font_l);
  font-family: $alternative_font_family;
}

@media (max-width: 719px) {
  html { font-size: #{$default_font_size - 2}px; }
}
